.headerToolbar{
	--background: #e9e9ea;
	--border-width: 0px;
	--padding-top: 10px;
	--padding-bottom: 5px;
	--padding-end: 0px;
}
.ios ion-title {
   position: inherit;
   width:100%;
   text-align:center
}
toolbar-container{
	--padding-start:0px
}
ion-title {
   text-align:center;
   font-size: 17px;
   font-weight: 600;
   color: black;
   margin-top:5px;
}
ion-content{
	--background: var(--ion-color-header);
	--padding-bottom:55px;
}
/*content*/

.card{
	margin: 0px;
	border-radius:10px;
}

ion-item{
	--background:var(--ion-color-inputFormColor);
	background-color:#ffffff;
   --ion-background-color:var(--ion-color-inputFormColor);
   --inner-padding-start:0px;
   border-radius:10px;
   --border-radius:10px;
   --padding-bottom:0px;
   border:1px solid #e9e9ea;
}
.errorFiled{
	 border:1px solid #ED2224;
}
.succsessFiled{
	 border:1px solid #e9e9ea;
}

ion-textarea{
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#000000;
}
.errorTitle{
	color: #ED2224;
    font-size: 14px;
    margin-right: 9px;
}
.oneButton{
    text-transform: none;
	--background: #ED2224 !important;
	--color:#ffffff !important;
	--border-radius: 10px;
	--padding:0px;
	height:50px;
	width:100%;
}
.oneButton.activated{
	--background: #ED2224 !important;
	padding:0px;
}
.titleInInput{
	color: #000000;
    direction: rtl;
    padding-top: 0px;
    font-size: 12px;
    font-weight: bold;
	padding-left:5px;
	padding-right:5px
}
.starClassRate{
	text-align:start; 
	margin-left:5px; 
	margin-right:5px;
	margin-bottom:10px
}
.starRate{
	width:100%; 
	height:38px
}
.starcoverRate{
    width:100%;
    margin-top: 5px;	
}
.starBackRateN{
	text-align:center;
}
.star{
    position: relative;
    height: 15px;
    text-align: center;
    display: inline-block;
	margin-left: 25px;
    margin-right: 25px;
}
.starcover{
	display:flex;
}
.starBackRatEn{
	background:#FFCB45; 
	height:15px;
	direction:ltr; 
	position:absolute; 
}
.starBackRatAr{
	background:#FFCB45; 
	height:15px;
	direction:ltr; 
	position:absolute; 
}
.imageRate{
	background-color:#dcdcdc;
	width:40px; 
	height:40px;
	max-width:40px;
	margin-left: 0px;
}
ion-textarea{
		--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#000000;
}
.selectImage{
	padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
}
.workType{
    font-size: 13px;
    color: #000000;
    padding-top: 10px;
}
.categoriesHomeCardSelect{
	margin: 0px;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid;
    height: 40px;
	border:1px solid #e9e9ea;
	background-color: #ffffff;
}
.categoriesHomeCardUnSelect{
	background-color: #f2f2f2;
	margin: 0px;
    box-shadow: none;
    border-radius: 4px;
   	height: 40px;
	border:1px solid #f2f2f2;
}
.divEmptyVal{
    text-align: center;
    padding-top: 200px;
}
.emptyFirstText{
    font-size: 20px;
    color:#ED2224;
    padding-bottom: 5px;
}
.emptyLastText{
    font-size: 15px;
     color:#ED2224;
}
.storesBox{
	color: #a7a8aa;
	border-radius: 5px;
	height:auto;
	min-height: 110px;
	border: 2px solid #e9e9ea;
    margin-bottom: 8px;
}
/*edit*/
.storesSubBox{
	min-height: 100px;
    height: auto;
}
.storesImageDiv{
	padding-left:5px;
	padding-right:5px;
	padding-top:15px
}
.storesName{
	font-size: 16px;
    color: #000000;
    padding-right: 5px;
	padding-top:8px;
	 display: -webkit-box;
    -webkit-line-clamp: 1;
    line-height: 16px;
    -webkit-box-orient: vertical;
	 text-overflow: ellipsis;
	 overflow:hidden
}
.storesSubCatLabel{
	font-size: 14px;
    padding-top: 3px;
    color: #000000;
    padding-right: 5px;
}
.storesTypeLabel{
	font-size: 12px;
    padding-top: 3px;
    color: #000000;
    padding-right: 5px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
    line-height: 16px;
    -webkit-box-orient: vertical;
	 text-overflow: ellipsis;
	 overflow:hidden
}
.storesImage{
	border-radius: 100%;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
/*header*/
.palanceText{
	vertical-align: top;
	background-color:#a19f9e;
	font-size: 9px;
	padding: 3px 9px 3px 8px;
	border-radius: 5px;
	color:#ffffff;
	margin-top: 5px;
	display: inline-block;
}
.palancePoints{
	font-family: emoji;
	color: #ED2224;
	vertical-align: top;
	font-size:23px;
	display: inline-block;
	padding: 0px 3px 0px 3px;
}
.point{
	color: #ED2224;
	vertical-align: top;
	font-size:11px;
	display: inline-block;
}
.classValDataAr{
   --background: #ED2224;
    color: var(--ion-color-wight);
    position: fixed;
	font-family: emoji;
    top: 0px;
    right: 40px;
    --padding-top: 4px;
    --padding-end: 6px;
    --padding-bottom: 4px;
    --padding-start: 6px;
    font-size: 9px;
    font-weight: bold;
    z-index: 100;
}
.classValDataEn{
   --background: #ED2224;
    color: var(--ion-color-wight);
    position: fixed;
	font-family: emoji;
    top: 0px;
    left: 40px;
    --padding-top: 4px;
    --padding-end: 6px;
    --padding-bottom: 4px;
    --padding-start: 6px;
    font-size: 9px;
    font-weight: bold;
    z-index: 100;
}
/*header*/
/*menu style*/
ion-footer{
	position: fixed;
    bottom: 0px;
	border-top: 2px solid #d7d3d7;
    background: #ebebeb;
    border-bottom: 2px solid #d7d3d7;
}
.menueValues{
	width:100%;
	position:fixed;
	bottom:90px;
	text-align:center;
	z-index:10000;
	height:15px;
}
.footerToolbar{
--background: #e9e9ea;
--border-width:0px;
--padding-top:15px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
}
.menueClass{
	color:#000000;
	width:20%;
	float:right;
	text-align:center;
	cursor:pointer;
	z-index:1000000;
}
.menueClassActive{
	color:#DB4437;
}
.labelClass{
    font-size: 12px !important;
    margin-bottom: 10px;
	font-weight: 600;
}
ion-badge{
   --background: #ED2224;
    color: #ffffff;
    position: fixed;
    top: 3px;
    --padding-top: 5px;
    --padding-end: 5px;
    --padding-bottom: 1px;
    --padding-start: 5px;
    font-size: 11px;
}
/*menu style*/

