<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> {{balanceServse}} </div>
        <div class="palancePoints">{{points}}</div>
        
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()" style="padding-left:3px;padding-right:3px"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:12px;padding-left:12px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="{{classValData}}" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
     <div *ngIf="push!=0">
        <div style="width:100%" *ngFor="let items of returnPushArray;let i = index">
             <div class="storesBox">
                <div class="storesSubBox">
                    <div class="storesImageDiv" [ngStyle]="{'float': floatD}">
                         <img src="../../assets/imgs/dot.png" style="width:20px;padding-top: 40px;">
                    </div>
                    <div>
                        <div>
                            <div class="operationDisc">{{items.notification}}</div>
                            <div class="operationDate" [ngStyle]="{'direction': dir,'text-align': floatD}">{{items.date}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="divEmptyVal" *ngIf="push==0">
        <div>
            <img src="../../assets/imgs/noData.png" style="width:150px; height:150px">
        </div>
         <div class="emptyFirstText">
           {{noDataTitle}}
        </div>
        <div class="emptyLastText">
            {{noDataSubTitle}}
        </div>
    </div>
</ion-content>
 <div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
        <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToHome()">
                    <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                     <div class="labelClass">{{menuOne}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoInvitations()">
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">{{menuTow}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToSendPoint()">
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">{{menuThree}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}">
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px" (click)="functionGoToArchives()"></div>
                    <div class="labelClass">{{menuFor}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionOpenAccount()">
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                   <div class="labelClass">{{menuFive}}</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>