<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvz_gLbg02GEQfEFjv7qQ-fwpUHVllqIs</string>
	<key>GCM_SENDER_ID</key>
	<string>686685737419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swapServ.eswapco</string>
	<key>PROJECT_ID</key>
	<string>swapshop-cc91b</string>
	<key>STORAGE_BUCKET</key>
	<string>swapshop-cc91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686685737419:ios:eb159f9522207353c0e64e</string>
</dict>
</plist>