<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> {{balanceServse}} </div>
        <div class="palancePoints">{{points}}</div>
        
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()" style="padding-left:3px;padding-right:3px"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:12px;padding-left:12px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="{{classValData}}" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px">
    	<div style="text-align: start;">
        	<div class="catNameClass"><span style="vertical-align:middle" (click)="functionGoBack()"><ion-icon name="{{arrowSideTow}}" class="iconVal"></ion-icon></span>{{statisticsTitle}}</div>
        </div>
        <div style="padding-top:10px;text-align: start;">
        	<div class="firstBox">
            	<div style="text-align:center;padding-top:10px"><img src="../../assets/imgs/calls.png" style="width:40px"></div>
                <div class="number">{{countCall}}</div>
                <div class="title">{{callStatis}}</div>
            </div>
            <div class="secoundBox">
            	<div style="text-align:center; padding-top:40px; display:inline-block">
                	<div class="number">{{countShow}}</div>
                    <div class="title">{{showStatis}}</div>
                </div>
                <div style="text-align:center;display:inline-block; padding-left:15px; padding-right:15px"><img src="../../assets/imgs/view-large.png" style="width:50px"></div>
            </div>
        </div>
       <div style="padding-top:10px;text-align: start;">
        	<div class="thirdBox">
                <div style="text-align:center;display:inline-block; padding-left:15px; padding-right:15px"><img src="../../assets/imgs/favorateLarg.png" style="width:50px"></div>
            	<div style="text-align:center; padding-top:40px; display:inline-block">
                	<div class="number">{{countFav}}</div>
                    <div class="title">{{addFavStatis}}</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
   <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToHome()" >
                    <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                     <div class="labelClass">{{menuOne}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoInvitations()" >
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">{{menuTow}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToSendPoint()" >
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">{{menuThree}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToArchives()" >
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                    <div class="labelClass">{{menuFor}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionOpenAccount()" >
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                   <div class="labelClass">{{menuFive}}</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>