<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> {{balanceServse}} </div>
        <div class="palancePoints">{{points}}</div>
        
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()" style="padding-left:3px;padding-right:3px"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:12px;padding-left:12px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="{{classValData}}" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px">
    	<div style="text-align: start;">
        	<div class="title">
            	<ion-row>
                    <ion-col class="textAlignStart" size="6" style="padding:0px">
                        <div style="color:#000000">{{problemReport}}</div>
                    </ion-col>
                    <ion-col class="textAlignEnd" size="6" style="padding:0px" (click)="backServicesdetalis()">
                        <div class="classdateClose"><ion-icon name="close-outline" class="iconClose"></ion-icon></div>
                    </ion-col>
                </ion-row>
            </div>
            <div style="color:#000000">{{specifyProblem}}</div>
        </div>
        <div style="padding-top:10px" *ngFor="let items of returnCategoriesArray;let i=index">
        	<div class="{{items.class}} " (click)="selectCat(i,items.id,items.title)">
            	<ion-row>
                    <ion-col class="textAlignStart" size="10" style="padding:0px">
                        <div class="titleCom">{{items.title}}</div>
                    </ion-col>
                    <ion-col class="textAlignEnd" size="2" style="padding:0px">
                        <div class="classdate" style="margin-top: 12px;"><ion-icon name="{{arrowSide}}" class="iconVal"></ion-icon></div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
      <div style="padding-top:25px">
        <ion-button class="oneButton fontSize18" (click)="complaintsAdd()" id="submit"><span style="font-size:16px;padding-top:4px">{{next}}</span></ion-button>
      </div>
    </div>
</ion-content>
<div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
   <ion-footer class="ion-no-border">
        <ion-toolbar class="footerToolbar">
            <div class="width100">
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToHome()" >
                    <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                     <div class="labelClass">{{menuOne}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoInvitations()" >
                    <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                    <div class="labelClass">{{menuTow}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToSendPoint()" >
                    <div style="height:28px"></div>
                    <div class="labelClass" style="font-size:15px">{{menuThree}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToArchives()" >
                    <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                    <div class="labelClass">{{menuFor}}</div>
                </div>
                <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionOpenAccount()" >
                    <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
                   <div class="labelClass">{{menuFive}}</div>
                </div>
            </div>
        </ion-toolbar>
        </ion-footer>