<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-title>
        <div class="palanceText"> {{balanceServse}} </div>
        <div class="palancePoints">{{points}}</div>
        
    </ion-title>
    <ion-buttons slot="start">
       <div (click)="functionOpenMenue()" style="padding-left:3px;padding-right:3px"><img src="../../assets/imgs/Group871.png" style="width:28px"></div>
       <div (click)="functionPushNotifications()" style="padding-right:12px;padding-left:12px"><img src="../../assets/imgs/alert.png" style="width:17px"></div>
       <ion-badge *ngIf="newNotifications!=0" class="{{classValData}}" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px">
       <div style="text-align: start;">
       		<div class="titleDiv">{{addProductNote}}</div>
        	<div class="title">{{exchangeForPoints}}</div>
        </div>
          <div style="padding-bottom:15px; padding-top:10px">
            <div>
            <ion-grid style="padding:0px">
                <ion-row>
                    <ion-col class="textAlignEnd" size="6"  style="padding:3px">
                         <div class="allPoxDiv" (click)="selectTypeUser(1)" [ngStyle]="{'background': backgroundColorOne}">
                         	<div class="{{checkImagDiv}}"><img src="{{imageselectOne}}" width="25px"></div>
                        	<div class="boxImageDiv"><img src="../../assets/imgs/User.png" style="width:100%;"></div>
                            <div class="boxTitleDiv">{{services}}</div>
                            <div class="boxSubTitleDiv">{{productTypeOne}}</div>
                        </div>
                    </ion-col>
                    <ion-col class="textAlignStart" size="6" style="padding:3px">
                        <div class="allPoxDiv" (click)="selectTypeUser(2)" [ngStyle]="{'background': backgroundColorTow}">
                         	<div class="{{checkImagDiv}}"><img src="{{imageselectTow}}" width="25px"></div>
                        	<div class="boxImageDiv"><img src="../../assets/imgs/freelancer-indivisual.png" style="width:100%;"></div>
                            <div class="boxTitleDiv">{{products}}</div>
                            <div class="boxSubTitleDiv">{{productTypeTow}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
           </div>
    </div>
</ion-content>
<div class="menueValues"><img (click)="functionGoToSendPoint()" src="../../assets/imgs/sendPoint.png" style="width:70px"></div>
<ion-footer class="ion-no-border">
    <ion-toolbar class="footerToolbar">
        <div class="width100">
            <div class="menueClass" [ngStyle]="{'float': floatD}"  (click)="functionGoToHome()">
                <div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
                <div class="labelClass">{{menuOne}}</div>
            </div>
            <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoInvitations()">
                <div><img src="../../assets/imgs/Group863.png" style="width:18px"></div>
                <div class="labelClass">{{menuTow}}</div>
            </div>
            <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToSendPoint()">
                <div style="height:28px"></div>
                <div class="labelClass" style="font-size:15px">{{menuThree}}</div>
            </div>
            <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionGoToArchives()">
                <div><img src="../../assets/imgs/Group865.png" style="width:18px"></div>
                <div class="labelClass">{{menuFor}}</div>
            </div>
            <div class="menueClass" [ngStyle]="{'float': floatD}" (click)="functionOpenAccount()">
                <div><img src="../../assets/imgs/Group866.png" style="width:18px"></div>
               <div class="labelClass">{{menuFive}}</div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>