<ion-content>
    <div style="margin-top:120px; text-align:center">
        <img style="width:125px;" src="../../assets/imgs/Group.png" >
    </div>
    <div class="firstTitle fontSize20 fontweight1">
        {{msgApp}}
    </div>
    <div style="padding-top:60px" class="contentDiv">
        <div>
            <img src="../../assets/imgs/errorConnection.png">
        </div>
           <div class="lastTitleOne fontSize14 fontweight1">
            {{msgAppSorry}}
        </div>
           <div class="lastTitleTow fontSize12 fontweight1">
            {{msgAppTryLater}}
        </div>
    </div>
</ion-content>
